<canvas #canvas width="400" height="400"></canvas>
<div class="controls">
  <div class="control">
    <label for="pencil">
      <input id="pencil" name="mode" type="radio" value="pencil"
             [(ngModel)]="mode"
             (ngModelChange)="switchMode()">
      Pencil
    </label>
  </div>
  <div class="control">
    <label for="brush">
      <input id="brush" name="mode" type="radio" value="brush"
             [(ngModel)]="mode"
             (ngModelChange)="switchMode()">
      Brush
    </label>
  </div>
</div>
